########################################
# DDC
# -------------------------------------
# The core plugin for completion.
########################################
[[plugins]]
# Auto completion plugin.
repo = 'Shougo/ddc.vim'
lazy = true
on_event = 'VimEnter'
# To configure ddc.vim, some variables are defined.
# Every ddc sources should configure the sources.
hook_add = '''
let g:ddc_sources = g:ddc_sources + ['around']
call extend(g:ddc_source_options, #{
  \  omni: #{mark: 'Omni', forceCompletionPattern: '\.\w*|:\w*|->\w*' },
  \  around: #{ mark: 'Around'}
  \ })
autocmd CompleteDone * silent! pclose!
function s:start_ddc()
  doautocmd User DDCPre
  call ddc#custom#patch_global('ui', 'native')
  call ddc#custom#patch_global('sourceParams', g:ddc_source_params)
  call ddc#custom#patch_global('sourceOptions', g:ddc_source_options)
  call ddc#custom#patch_global('sources', g:ddc_sources)
  call ddc#custom#patch_filetype(['c', 'cpp'], 'sources', ['around', 'clangd'])
  call ddc#custom#patch_filetype(['c', 'cpp'], 'sourceOptions', #{clangd: #{ mark: 'C' }})
  call ddc#enable()
endfunction
au VimEnter * call s:start_ddc()
'''
